.filter-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.filter-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.filter-exit {
  opacity: 1;
}
.filter-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}
//scale
.scale-enter{
  transform: translateX(0);
}
.scale-enter-active{
  transform: translateX(10px);
  transition: transform 300ms;
}
.scale-exit{
  transform: translateX(0);
}
.scale-exit-active{
  transform: translateX(-10px);
  transition: transform 300ms;
}
