@tailwind base;
@tailwind components;
@tailwind utilities;

html {overflow-y: scroll;}

body{
    padding: 4px;
}

:root{
    max-width: 1250px;
    margin: 0 auto;
}

.btn{
    @apply p-2 border-2  transition-all ease-in w-auto h-10 rounded-md flex justify-center items-center font-bold
}
.primary{
    @apply border-blue-700 hover:border-blue-600 hover:bg-blue-600 hover:text-white bg-blue-400
}
.secondary{
    @apply border-gray-700 hover:border-gray-600 hover:bg-gray-600 hover:text-white bg-gray-400
}
.link{
    @apply list-none p-1 hover:text-blue-500 transition-all ease-in
}
.filter{
    @apply flex flex-col mb-2
}
.main{
    height: calc(100vh - 150px);
}
.label{
    @apply text-lg p-1
}
.login{
    @apply flex flex-col mb-2
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
input{
    outline: none;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.5s ease;

    &:focus{
        opacity: .7;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
}